# Core ML
scikit-learn==1.6.1
pandas==2.2.3
numpy==1.26.4

# NLP
transformers==4.51.3
torch==2.6.0
datasets==3.5.0
tokenizers==0.21.1

# API
fastapi==0.115.12
uvicorn==0.34.2
python-multipart==0.0.20

# Visualization & reporting
matplotlib==3.10.1
seaborn==0.13.2

# Utils
joblib==1.4.2
tqdm==4.67.1
requests==2.32.3

# Testing
pytest==8.3.5
